.global-layout {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
}

.global-layout-header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    background-color: var(--white-default);
    padding: 8px 32px;
    box-shadow: var(--box-shadow-lg);
    z-index: 1;
}

.global-layout-header-middle-col {
    text-align: center;
    align-self: baseline;
}

.global-layout-header-end-col {
    justify-self: end;
}

.global-layout-header-title {
    color: var(--brand-pictet);
}

.global-layout-body-wrapper {
    padding: 16px 32px;
    overflow: auto;
}
