<div class="conclusion-wrapper">
    <div class="display-sans-serif-md">Conclusion</div>
    <div class="conclusion-body-wrapper">
        <div style="justify-self: center; color: var(--brand-pictet)" class="headline-serif-lg">
            Flex
        </div>
        <div style="justify-self: center; color: var(--brand-pictet)" class="headline-serif-lg">
            Grid
        </div>
        <ul>
            <li>
                We use flexbox when we want <strong>the layout to adapt to the content</strong>
            </li>
        </ul>
        <ul>
            <li>
                We use grid when we want <strong>the content to adapt to the layout</strong>
            </li>
            <li>
                To apply <strong>consistent margins</strong> (eg: form)<br />
                <strong><u>but</u></strong>: don’t overuse it: gap is <strong>not</strong> a replacement for margins.
            </li>
        </ul>
    </div>
</div>
