/** STYLING - START **/

.card {
    background-color: var(--white-default);
    padding: 32px;
    border-radius: 8px;
    box-shadow: var(--box-shadow-md);
    max-width: 1000px;
    margin-inline: auto;
}

.submit-btn {
    justify-content: center;
    background-color: var(--accent-default);
    color: var(--white-default);
    border-color: transparent;
    font-size: 16px;

    transition: background-color 0.3s;

    &:hover {
        background-color: rgb(from var(--accent-default) r g b / 0.9);
    }
}

/** STYLING - END **/
