<div class="content-wrapper">
    <div class="card">

        <!-- FORM - START -->

        <form class="contact-form">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input id="firstName" type="text"/>
            </div>

            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input id="lastName" type="text"/>
            </div>

            <div class="form-group">
                <label for="birthdate">Date of birth</label>
                <input id="birthdate" type="date"/>
            </div>

            <div class="form-group">
                <label for="age">Place of birth</label>
                <input id="age" type="text"/>
            </div>

            <div class="form-group">
                <label for="color">Favorite color</label>
                <input id="color" type="text"/>
            </div>

            <div class="form-group">
                <label for="animal">Favorite animal</label>
                <input id="animal" type="text"/>
            </div>

            <div class="form-group full-width">
                <label for="comment">Comment</label>
                <textarea id="comment" rows="4"></textarea>
            </div>

            <button class="submit-btn">Submit</button>
        </form>

        <!-- FORM - END -->

    </div>
</div>
