<div class="card">
    <img src="/assets/restaurant.jpg" alt="restaurant" />

    <div class="card-content-wrapper">
        <h4 class="card-content-title paragraph-normal-bold-lg">
            <div>Restaurant Monaco</div>
            <div>&#11088; &#11088; &#11088; &#11088;</div>
        </h4>
        <p class="card-content-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>

        <!-- TAGS LIST - START -->

        <div class="card-content-tags-wrapper">
            <div>Gastronomy</div>
            <div>LuxuryDining</div>
            <div>Holidays</div>
            <div>DreamVacation</div>
            <div>ParadiseFound</div>
        </div>

        <!-- TAGS LIST - END -->
    </div>

</div>
